# Node settings
NODE_ENV=[local|development|testing|production]

# Application settings
APP_NAME=sysmap-natura
APP_URL=http://localhost
APP_PORT=3000

# GitHub settings
REACT_APP_GITHUB_URI=https://api.github.com/users/
REACT_APP_GITHUB_USERNAME=
